<%- include('partials/header',{title:title}); %>

<h1 class="text-4xl font-bold dark:text-white py-8">
  <%= title %>
</h1>

<h2 class="text-3xl dark:text-white py-4">Examples</h2>
<ul class="text-xl max-w-md space-y-1 text-gray-500 list-inside dark:text-gray-400">
  <a href="/location">
    <li class="flex items-center pt-2">
      Location
    </li>
  </a>
  <a href="/from-northpole/6000">
    <li class="flex items-center pt-2">
      Cities within 6000 km of the North Pole
    </li>
  </a>
  <a href="/nearby-cities/1000">
    <li class="flex items-center pt-2">
      Nearby cities
    </li>
  </a>
  <a href="/around/-74/40/1000">
    <li class="flex items-center pt-2">
      Find Cities Near a Specific Location using Longitude and Latitude Coordinates
    </li>
  </a>
</ul>

<%- include('partials/footer'); %>